<div class="example-header">
  <input [(ngModel)]="searchFilter"
    type="text"
    id="filter-text-box"
    placeholder="Filter..."
    (input)="onFilterTextBoxChanged()"
  />
</div>
  <ag-grid-angular
    style="width: 100%; height: 100%;"
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData$ | async"
    [cacheQuickFilter]="true"
    [quickFilterText]="searchFilter"
    (gridReady)="onGridReady($event)"
    [pagination]="true"
    [paginationPageSize]="10"
  ></ag-grid-angular>

